.signup{
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 119, 43);
    border-radius: 10px;
    border: 0px;
    height: 40px;
    width:70px ;
    color: aliceblue;
    margin: 5px;
    
    

}
.box{
    text-align: center;
    padding: 0.6em 3.2em;
   
    
    
}