
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1, h2 {
    margin-bottom: 10px;
  }
  
  .contact-form {
    margin-bottom: 20px;
    background-color: antiquewhite;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .contact-form textarea {
    height: 150px;
  }
  
  .contact-form button {
    background-color: #ca850e;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #e7a946;
  }
  
  .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contact-info li {
    list-style: none;
    margin-bottom: 5px;
  }
  
  .contact-info a {
    text-decoration: none;
    color: black;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
  }
  